<h1>Lesson for <%= @student.first_name %> <%= @student.last_name %> on <%= @lesson.lesson_date %> </h1>

<% @assignments.each do |assignment| %>
	<%= assignment.book %>
	<%= assignment.title if assignment.title %>
	<%= assignment.page if assignment.page %>
	<%= assignment.per_day if assignment.per_day %>
	<%= assignment.days_per_week if assignment.days_per_week %>
	<%= assignment.notes if assignment.notes %>
	<%= assignment.plays if assignment.plays %>
<% end %>
<hr>
<%= link_to 'Back to Lessons', lessons_path(@student), class: 'btn'%>