<h1>Lessons for <%= @student.first_name %> </h1>

<% @lessons.each do |lesson| %>

	<%= lesson.lesson_date %>
	<br>
	<%= lesson.notes %>
	<br>
	<%= lesson.feedback %>

	<% if current_user.teacher? %>
		<%= link_to 'Edit Lesson', edit_lesson_path(lesson) %>
		<%= link_to 'Assignments', assignments_index_path(lesson) %>
	<% end %>

	<% if current_user.student? %>
		<%= link_to 'Assignements', assignments_index_path(lesson) %>
	<% end %>

<% end %>
<br>
<% if current_user.teacher? %>
	<%= link_to 'Create Lesson', new_lesson_path(@student) %>
<% end %>
<br>

<% if current_user.teacher? %>
	<%= link_to 'Students', student_index_path(current_user) %>
<% end %>




